---
layout: default
title: Portfolio
description: Welcome to the wonderland of Bryan Tai.
featured_image: /images/demo/demo-home.jpeg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Stay hungry, Stay foolish.</h1>
		<p>求知若饥, 虚心若愚。</p>

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

	<div class="more-title" style="border-top: 1px solid #DAE2F2;">
		<h2>More Projects</h2>
	  </div>
	  <ul class="tags" id="tags"></ul>
	  <ul class="covers more-covers" id="all-covers">{% assign posts=site.posts | where:"lang", page.lang | where:"category", page.list %}{% for post in posts %}{% if post.front-wide == null and post.hide == null %}{% capture tags %}{% for tag in post.tags %}tag-{{ tag | downcase | url_encode | replace: "+", "_" | replace: "%2F", "" | replace: "%", "" }} {% endfor %}{% endcapture %}
		<li class="{{tags}}cover-item" id="{{ post.url | replace: '/', '' | replace: '%', '' }}">
		  <a href="{{ post.url | prepend: site.baseurl }}">{% capture link %}{{ site.baseurl }}/potato/{{ post.category }}/{{ post.ref }}/{{ post.cover }}{% endcapture %}
			<img src="{{ link }}" alt="{{ post.category | capitalize }}: {{ post.title }}">
			<h2 class="title">{{ post.title }}</h2>
			<p class="short-desc">{{ post.desc }}</p>
		  </a>
		</li>{% endif %}{% endfor %}
	  </ul>
	  <ul class="covers more-covers" id="selected-covers" style="display: none;"></ul>
	  <div class="gradient"></div>

</section>

